@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

body{
    background-color: white;
}
/* footer{
    height: 70px;
    width: 100%;
    align-items: center;
    justify-content: center;
    ;
} */